<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>
	LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQ0lqQU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQ0FnOEFNSUlDQ2dLQ0FnRUF0eHNDUnhQQ2ZBamZtVFZlOU5pNAorYnZuUmxlaGEy
	TXI4cGU3WG9NY3V0SkxJb2gvdUw5UjdxS290NXVKbHhqcFlRUFlvdTYveDdjVHRKZHhP
	dUJ3CjBGbG1aYTNFYVh2S2FWcjVLcityUU5Fcm1zUGlmTG1mcFV1dU9SMmNNMTlmVlly
	SjQ3VUh2WjVQeGxyT05oSWwKYTkxSFlqckthUkt0dVNweE8xQXUyc1BuQVZNVkFDOXBQ
	bWE5MTFudDg3RFNJMTNwMFoyYjZuaHovRU0rejdqdAp6c0RVU2poYzhHNTV5WTVXU2ZG
	dGtORWtoRkNMUFlZL0p0MXA2YjU3UGUzVjdXQm9hdktlSHZCY2dCdFQzRFlPCktFQ2Rh
	ODFlRWIrRnNVNHppM000dUJBbElRY0NPU1UvZDdsQnRaNWRPUEE4bVZrTk9aNjBNbGk3
	RjllTmJ0ZWIKcy90ajBZU0Y1MmN6Ly9aUjFGeDVDSmhjOWNnbEFpWGVmM1B4V2Z2Vzk1
	R29pMS9wYjY1WTNieEIwbDVISU0zYgpjbmdMY3A2ZzY2Y0VXQ2JLTjVTZmRGYktUZnNE
	SzBuUE9BUHMzRm9BQ1A5VGpPcTFsMW9KZW5xc3Q1OFVXQjlZCkpzamY0eFBuVGxKVDJS
	Y3NUMEQzS3l6WkJHbnZxTFNNbkFMZXlsRHZEa2lxZkVCZUtMc0d2Q2Z5cTVUNGNsby8K
	OFA3c0lWdjkva2xJSkFnUldBMUFlcmJCOGFHdHBpZFBZckxYaWoveVB5cnB1eUVRWGZM
	KzNPa3R1dC9uM2duMgpVSTJSVzMxNU9pNHNFRWZuSXJEcTJHQXBMWWI3ME5lUHNhSmNM
	ZHJEaXNpVEhvQWRLckhjaGVQWTdWY3NiMCs0CnNFa2RrR0R5a3pxNkp0MnlQTTZQbEVz
	Q0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>public-key-size</key>
	<integer>4096</integer>
	<key>signature-by</key>
	<string>Z Linux Core &lt;SrDicov@gmail.com&gt;</string>
</dict>
</plist>
